.App {
  text-align: center;
}

.header {
  border: 2px solid red;
  margin: calc(1rem + 1vw);
  background-color: #ff000030;
}

.album-list {
  border: 2px solid gold;
  margin: calc(1rem + 1vw);
  background-color: #ffc00030;
}

.album-card {
  border: 2px solid grey;
  margin: 1rem;
  background-color: #eee;
}

.album-title {
  text-transform: uppercase;
  color: #605040;
}

a {
  text-decoration: none;
  color: inherit;
}